extends layout

block content
  h1 Introduce las canciones de spotify
  form(action="/audio-features", method="post") 
    .sec 
      textarea(name="tracks", cols="60", rows="10") 
      input(type="submit", value="Ir a la playlist")
