extends layout

block content
  h1 Welcome to #{title}
  form(action="/", method="post") 
    input(type="text", name="user")
    input(type="submit", value="Buscar")

  p Indica el nombre de usuario de spotify
  form(action="/playlists", method="post") 
    input(type="text", name="user")
    input(type="submit", value="Buscar")