extends layout

block content
  h1 Welcome to #{title}
  //- form(action="/playlists", method="post") 
  //-   h2= error
  //-   label(for="text") Indica el nombre de usuario de spotify 
  //-   input(type="text", name="user")
  //-   input(type="submit", value="Buscar")

  a(href="/audio-features") Buscar canciones