extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/", method="post") 
    input(type="text", name="user")
    input(type="submit", value="Buscar")

  p cuando quieres ver que se pasa usa este
  form(action="/playlists", method="post") 
    input(type="text", name="user")
    input(type="submit", value="Buscar")